<?xml version="1.0"?>
<!--
/**
 * NanoRep Widgets Extension
 *
 * @package		NanoRep_Widgets
 * @company		nanoRep.
 * @website		http://www.nanorep.com
 * @author		Dan Aharon-Shalom
 */
-->
<config>
	<modules>
		<NanoRep_Widgets>
			<version>2.1.4</version>
		</NanoRep_Widgets>
	</modules>
	<global>
		<blocks>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Block</class>
			</nanorepwidgets>
		</blocks>
		<helpers>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Helper</class>
			</nanorepwidgets>
		</helpers>
		<models>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Model</class>
				<resourceModel>nanorepwidgets_resource</resourceModel>
			</nanorepwidgets>
			<nanorepwidgets_resource>
				<class>NanoRep_Widgets_Model_Resource</class>
				<entities>
					<query>
						<table>nanorepwidgets_query</table>
					</query>
					<answer>
						<table>nanorepwidgets_answer</table>
					</answer>
				</entities>
			</nanorepwidgets_resource>
		</models>
		<resources>
			<nanorepwidgets_setup>
				<setup>
					<module>NanoRep_Widgets</module>
					<class>NanoRep_Widgets_Model_Resource_Setup</class>
				</setup>
			</nanorepwidgets_setup>
		</resources>
	</global>

	<admin>
		<secure_url>
			<nanorep>/nanorep/adminhtml_mynanorep/index</nanorep>
		</secure_url>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<nanorep after="Mage_Adminhtml">NanoRep_Widgets_Adminhtml</nanorep>
					</modules>
				</args>
			</adminhtml>
			<!-- <nanorep>
				<use>admin</use>
				<args>
					<module>NanoRep_Widgets</module>
					<frontName>nanorep</frontName>
				</args>
			</nanorep> -->
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<nanorepwidgets>
					<file>nanorepwidgets.xml</file>
				</nanorepwidgets>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<secure_url>
			<nanorepwidgets>/nanorepwidgets/account/login</nanorepwidgets>
		</secure_url>
		<routers>
			<nanorepwidgets>
				<use>standard</use>
				<args>
					<module>NanoRep_Widgets</module>
					<frontName>nanorepwidgets</frontName>
				</args>
			</nanorepwidgets>
		</routers>
		<layout>
			<updates>
				<nanorepwidgets>
					<file>nanorepwidgets.xml</file>
				</nanorepwidgets>
			</updates>
		</layout>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<nanorepwidgets_order_success>
						<class>nanorepwidgets/observer</class>
						<method>setNanoRepWidgetOnOrderSuccessPageView</method>
					</nanorepwidgets_order_success>
				</observers>
			</checkout_onepage_controller_success_action>
			<checkout_multishipping_controller_success_action>
				<observers>
					<nanorepwidgets_order_success>
						<class>nanorepwidgets/observer</class>
						<method>setNanoRepWidgetOnOrderSuccessPageView</method>
					</nanorepwidgets_order_success>
				</observers>
			</checkout_multishipping_controller_success_action>
		</events>
	</frontend>
	<default>
		<nanorepwidgets>
			<account_settings>
				<attribute_select>all</attribute_select>
				<product_id_attribute>id</product_id_attribute>
				<related_products>1</related_products>
				<upsells_products>1</upsells_products>
				<crosssells_products>1</crosssells_products>
			</account_settings>
			<contact_us_widget>
				<active>1</active>
				<title>Featured Questions</title>
				<kb>English</kb>
				<fields_css>a:1:{s:18:"_1424883221899_899";a:1:{s:3:"css";s:8:"#comment";}}</fields_css>
			</contact_us_widget>
			<float_widget>
				<active>0</active>
				<active_pages>0</active_pages>
			</float_widget>
			<embed_widget>
				<active>1</active>
				<width>400</width>
				<max_height>310</max_height>
				<kb>English</kb>
				<faq_num>5</faq_num>
				<max_items>20</max_items>
				<skip>0</skip>
				<by_popularity>1</by_popularity>
				<days>200</days>
				<product_faq_headline>Popular questions by other visitors:</product_faq_headline>
				<general_faq_headline></general_faq_headline>
				<question_hidden>1</question_hidden>
				<cache_timeout>30</cache_timeout>
			</embed_widget>
			<orders_status>
				<active>1</active>
				<active_pages>0</active_pages>
			</orders_status>
		</nanorepwidgets>
	</default>
</config>
