<?xml version="1.0"?>
<!-- 
/**
 * NanoRep Widgets Extension
 *
 * @package		NanoRep_Widgets
 * @company		Omniscience Co. 
 * @website		http://www.omniscience.co.il
 * @author		Dan Aharon-Shalom
 */
 -->
<config>
    <modules>
        <NanoRep_Widgets>
            <version>1.4.3</version>
        </NanoRep_Widgets>
    </modules>
    <global>
        <blocks>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Block</class>
			</nanorepwidgets>
		</blocks>
        <models>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Model</class>
				<resourceModel>nanorepwidgets_mysql4</resourceModel>
			</nanorepwidgets>
			
			
			<nanorepwidgets_mysql4>
	            <class>NanoRep_Widgets_Model_Mysql4</class>
	            <entities>
	                <query>
	                    <table>nanorep_query</table>
	                </query>
	            </entities>                 
	        </nanorepwidgets_mysql4>
		</models>
		<helpers>
			<nanorepwidgets>
				<class>NanoRep_Widgets_Helper</class>
			</nanorepwidgets>
		</helpers>
		
		<resources>
		    <nanorepwidgets_setup>
		        <setup>
		            <module>NanoRep_Widgets</module>
		            <class>NanoRep_Widgets_Model_Mysql4_Setup</class>
		        </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
		    </nanorepwidgets_setup>
		    <nanorepwidgets_write>
	            <connection>
	                <use>core_write</use>
	            </connection>
	        </nanorepwidgets_write>
	        <nanorepwidgets_read>
	            <connection>
	                <use>core_read</use>
	            </connection>
	        </nanorepwidgets_read>      
		</resources>
		
    </global>
    <admin>
        <routers>
            <nanorepwidgets>
                <use>admin</use>
                <args>
                    <module>NanoRep_Widgets</module>
                    <frontName>nanorep</frontName>
                </args>
            </nanorepwidgets>
        </routers>
    </admin>
    <frontend>
        <routers>
            <nanorepwidgets>
                <use>standard</use>
                <args>
                    <module>NanoRep_Widgets</module>
                    <frontName>nanorep</frontName>
                </args>
            </nanorepwidgets>
        </routers>
        <layout>
            <updates>
                <nanorepwidgets>
                    <file>nanorepwidgets.xml</file>
                </nanorepwidgets>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <nanorepwidgets_order_success>
                        <class>nanorepwidgets/observer</class>
                        <method>setNanoRepWidgetOnOrderSuccessPageView</method>
                    </nanorepwidgets_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <nanorepwidgets_order_success>
                        <class>nanorepwidgets/observer</class>
                        <method>setNanoRepWidgetOnOrderSuccessPageView</method>
                    </nanorepwidgets_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    
    <adminhtml>
        <acl>
		    <resources>
		        <admin>
		            <children>
		            	<system>
	                        <children>
	                            <config>
	                                <children>
	                                    <nanorepwidgets translate="title" module="nanorepwidgets">
	                                        <title>nanoRep Widgets Account Settings Section</title>
	                                    </nanorepwidgets>
<!-- 	                                    <nanorepwidgets_management_system translate="title" module="nanorepwidgets"> -->
<!-- 	                                        <title>nanoRep Widgets Management System Section</title> -->
<!-- 	                                    </nanorepwidgets_management_system> -->
	                                </children>
	                            </config>
	                        </children>
	                    </system>
	                    <nanorep translate="title" module="nanorepwidgets">
		                	<title>nanoRep</title>
		                	<sort_order>100</sort_order>
		                	<children>
		                		<mynanorep translate="nanorepwidgets">
		                			<title>my.nanoRep</title>
		                		</mynanorep>
		                		<configuration translate="nanorepwidgets">
		                			<title>Configuration</title>
		                		</configuration>
		                	</children>
		                </nanorep>
		            </children>
		        </admin>
		    </resources>
		</acl>
        <menu>
	        <nanorep translate="title" module="nanorepwidgets">
	            <title>nanoRep</title>
	            <sort_order>100</sort_order>
	            <action>nanorep/adminhtml_mynanorep/index</action>
	            <depends>
	                <module>NanoRep_Widgets</module>
	            </depends>
	            <children>
	                <mynanorep translate="title" module="nanorepwidgets">
	                    <title>my.nanoRep</title>
	                    <action>nanorep/adminhtml_mynanorep/index</action>
	                    <sort_order>0</sort_order>
	                </mynanorep>
	                <configuration translate="title" module="nanorepwidgets">
	                    <title>Configuration</title>
	                    <action>adminhtml/system_config/edit/section/nanorepwidgets</action>
	                    <sort_order>1</sort_order>
	                </configuration>
	            </children>
	            
	        </nanorep>
	    </menu>
        <layout>
            <updates>
                <nanorepwidgets>
                    <file>nanorepwidgets.xml</file>
                </nanorepwidgets>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <nanorepwidgets>
            <account_settings>
				<attribute_select>all</attribute_select>
				<product_id_attribute>id</product_id_attribute>
				<related_products>1</related_products>
				<upsells_products>1</upsells_products>
				<crosssells_products>1</crosssells_products>
            </account_settings>
            <float_widget>
                <active>0</active>
                <active_pages>0</active_pages>
            </float_widget>
            <support_widget>
                <active>1</active>
                <width>400</width>
                <max_height>310</max_height>
                <kb>English</kb>
                <faq_num>5</faq_num>
                <max_items>20</max_items>
                <skip>0</skip>
                <by_popularity>1</by_popularity>
                <days>200</days>
                <product_faq_headline>Popular questions by other visitors:</product_faq_headline>
                <general_faq_headline></general_faq_headline>
                <question_hidden>1</question_hidden>
                <cache_timeout>86400</cache_timeout>
            </support_widget>
            <orders_status>
                <active>1</active>
                <active_pages>0</active_pages>
            </orders_status>
        </nanorepwidgets>
    </default>
</config>
